* { /* universal selector */
    background-color:dimgray;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
:root { /* components that are used often */
    --heading-color: coral;
}

.images { /* makes class=images a flex container */
    display: flex;
    flex-wrap: wrap;
}
img { /* used to format all images on page */
    height: 300px;
    width: 350px;
    margin: 30px;
    border-style: solid;
    border-width: 5px;
    border-color: black;
}

h1 { /* styling for header h1 */ 
    color:var(--heading-color);
    font-size: 50px;
    text-decoration: underline;
    text-align: center;
}
h2 { /* styling for headers h2 */ 
    color:var(--heading-color);
    text-decoration: underline;

}

ul { /* styling for unordered list sections of html */ 
   list-style-type: none;
   display: inline-flex;
   flex-wrap: nowrap;
}

p { /* styling for paragraph section of page */
    font-size: large;
    color: snow;
}

.contact li { /* styling for list items in class=contact */
    margin-left: 30px;
    text-indent: 150px;
    color: aqua;
}

.links li { /* styling for list items in class=links */ 
    margin-left: 30px;
    text-indent: 900px;
}
#cover-image { /* styling specifically for id=cover-image image */
    display: block;
    height: 500px;
    width: 1000px;   
}
#mount-rushmore { /* styling specifically for id=mount-rushmore image */
    height: 450px;
    width: 1000px;
}